*{
font-family: 'Roboto', sans-serif;

}
body{
	background: radial-gradient(#EE82EE, #1E90FF);
	color: white;
	background-size: 100%;
	padding: 10px;	
}
.container{
	width: 960px;
	margin:0 auto;
}
.header{
	width: 960px;
	height: 100%;
	background: grey;
	display: flex;
	border-radius: 10px;
	
}

.lol_kek{
	background: #FFD700	;
	text-align: center;
	border-radius: 10px;
}

.logo_one{
	width: 80px;
	height: 80px;
	padding:10px;
}

.block1{
	width: 960px;
	height:300px;
	border-radius: 10px;
	background: grey;
	margin-top: 20px;
}
.block1_1{
	width: 960px;
	height:500px;
	border-radius: 10px;
	background: grey;
	margin-top: 20px;
}
.block1_three{
	width: 960px;
	height:100%;
	border-radius: 10px;
	background: grey;
	display: flex;
	flex-direction: column;
	margin-top: 50px;
}
.block1_six{
	width: 960px;
	height:100%;
	border-radius: 10px;
	background: grey;
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}
.block1_five{
	width: 960px;
	height:100%;
	border-radius: 10px;
	background: grey;
	display: flex;
	margin-top: 30px;
}
.foto_block_one{
	width: 350px;
	height: 270px;
	margin-left: 580px; 
	margin-top: -160px;
}
h1{
	color: spase-grey;
	opacity: 0.5;
}
.text_block_one{
	width:430px; 
	height: 400px;	
	margin-left: 30px;

}
#menu ul .li{
	display: block;
}
#menu ul li{
	display: inline;
}
li{
	display: inline;
	padding-right: 20px;
	padding-top: 10px;
	font-size: 16px;
}
ul{
	padding-top: 15px;
	padding-left: 10px;
}
a{
	text-decoration: none;
	color: white;
}
.menu{
	float: right;
}
.menu a {
	color: white;
}
.a{
	margin-top: 20px;
	border-radius: 10px;
	display: flex;
	justify-content: space-around;
	background: gray;
}
.a11{
	height: 100px;
	width: 100px;
	margin-left:50px;
}
.a1{
	width: 300px;
	height: 200px;
	border-radius: 10px;
}
.q1{
	display: flex;
	justify-content: space-around;
	border-radius: 10px;	
	position: relative;
	top: 20px;
}
.w{
	height: 200px;
	width: 200px;
	border-radius: 100px;
}
.teacher{ color: white;
	text-align: center;
	background: black;
	margin-left: 10px;
	border-radius: 10px;
}
.footer{
	width: 960px;
	height:100%;	
	text-align: center;
	margin: 0 auto;

}
footer{
	width: 960px;
	height:100%;	
	text-align: center;
	margin: 0 auto;
	clear: both;
}
.footer_text{

	width: 350px;
	height: 250px;
	text-align: center;
	background: grey;
}

.footer_foto{
	width:20px; 
	height:20px;
}

/*Друга сторінка*/
.slider{
	width: 100%;
	height:100%;
	text-align: center;
}

.slider_two{
	width: 920px;
	height:100%;
	border-radius: 10px;
	background: grey;
	margin-top: 30px;
	text-align: center;
	padding: 20px;
}
.fon-elements{
	width: 960px;
	height: 500px;
	z-index: 6;
	margin-top: 20px;
	border-radius: 20px;
}
.footer_loltwo{
	width: 960px;
	height:100%;	
	text-align: center;
	margin: 0 auto;
	margin-top: -200px;
	clear: both;	
}

/*Третя стора*/
.block1_0_img_text{
width: 960px;
height: 100%;
background: grey;
display: flex;
border-radius: 10px;
flex-direction: row;
justify-content: space-between;
}
.block1_0_img{
	width: 350px;
	height: 400px;
	margin-top: 40px;
	margin-left: 10px;
}
.block1_1_img{
	width: 360px;
	height: 400px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
}
.block1_2_img{
	width: 350px;
	height: 400px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
}
.block1_3_img{
	width: 350px;
	height: 400px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
}
.h1_block1{
	text-align: center;
	color: black;
}
.h2_block1{
	text-align: center;
	margin-left: 10px;	
}

/*Анімації*/
.p1{
	width: 200px;
	height: 200px;
	position: relative;
	left: 0px;
	animation:earth 9s linear infinite;
}
@keyframes earth{
	0%{
	left: 0px;
	top: -500px;	
	}
	50%{
	left: 750px;
	top: -500px;
	}
	100%{
	left: 0px;
	top: -500px;		
	}
}




.p2{
	width: 200px;
	height: 200px;
	position: relative;
	left: 550px;
	top: 00px;
	animation:earth2 9s linear infinite;
}
@keyframes earth2{
	0%{
	left: 550px;
	top: -510px;	
	}
	50%{
	top: -210px;
	left: 550px;
	}
	100%{
	left: 550px;
	top: -510px;	
	}
}


.p3{
	width: 200px;
	height: 200px;
	position: relative;
	top: 300px;
	left: -440px;
	animation:earth3 9s linear infinite;
}
@keyframes earth3{
	0%{
	top: -200px;
	left: -410px;
	}
	50%{
	top: -500px;
	left: -400px;
	}
	100%{
	top: -200px;
	left: -410px;
	}
}





.p4{
	width: 200px;
	height: 200px;
	position: relative;
	top: 300px;
	left: 150px;	
	animation:earth4 9s linear infinite;
}
@keyframes earth4{
	0%{
	top: -210px;
	left: 150px;
	}
	50%{
	top:-210px;
	left: -600px;
	}
	100%{
	top: -210px;
	left: 150px;
	}
}



/*СЛАЙДЕР*/
#slider { /*положение слайдера*/
    position: relative;
	text-align: center;
    top: 10px;
}

#slider{ /*центровка слайдера*/
	margin: 0 auto;
}

#slides article{ /*все изображения справа друг от доруга*/
	width: 20%;
	float: left;
}

#slides .image{ /*устанавливает общий размер блока с изображениями*/
	width: 500%;
	margin-top: 10px;
	line-height: 0;
}

#overflow{ /*сркывает все, что находится за пределами этого блока*/
	width: 100%;
	overflow: hidden;
}

article img{ /*размер изображений слайдера*/
	width: 100%;
}

#desktop:checked ~ #slider{ /*размер всего слайдера*/
	max-width: 960px; /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked ~ #controls label:nth-child(5), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
	background: url('prev.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: left;
	margin: 0 0 0 -84px; /*сдвиг влево*/
	display: block;
	height: 68px;
	width: 68px;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
	background: url('next.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: right;
	margin: 0 -84px 0 0; /*сдвиг вправо*/
	display: block;
	height: 68px;
	width: 68px;
}

label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
	cursor: pointer;
}

.all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
	display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image{
	margin-left: 0;
}

#switch2:checked ~ #slides .image{
	margin-left: -100%;
}

#switch3:checked ~ #slides .image{
	margin-left: -200%;
}

#switch4:checked ~ #slides .image{
	margin-left: -300%;
}

#switch5:checked ~ #slides .image{
	margin-left: -400%;
}

#controls{ /*положение блока всех управляющих элементов*/
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#active label{ /*стиль отдельного переключателя*/
	border-radius: 10px; /*скругление углов*/
	display: inline-block; /*расположение в строку*/
	width: 15px;
	height: 15px;
	background: #bbb;
}

#active{ /*расположение блока с переключателями*/
	margin: 23% 0 0;
	text-align: center;
}

#active label:hover{ /*поведение чекбокса при наведении*/
	background: #76c8ff;
	border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5){
	background: #18a3dd;
	border-color: #18a3dd !important;
}

#slides .image{ /*анимация пролистывания изображений*/
	transition: all 1400ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ /*прозрачность стрелок при наведении*/
	opacity: 0.6;
}

#controls label{ /*прозрачность стрелок при отводе курсора*/
	transition: opacity 0.2s ease-out;
}
}


/*пята сторінка*/

.diagrams{
	width: 960px;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content:space-between;

}
.diagrams2{
	width: 960px;
	height: 100%;
	margin-left: -960px;
	margin-top: 300px;
	display: flex;
	flex-direction: row;
	justify-content:space-between;

}
.p_five_d{
	width: 460px;
	width: 960px;
	display: flex;
	justify-content: space-around;
}
.img_five_d{
	width: 460px;
	height: 200px;
	border-radius: 10px;
	margin-left: 12px;
}


/*Шоста сторінка*/
.box_chek{
	width: 960px;
	height: 100%;
	display: flex;
	justify-content: space-between;
}
.box_five{
	width: 350px;
	height:350px;
}
.img_fiveST{
	width: 60px;
	height: 60px;
}

.ff1{
	text-align: center;
}
.ff3{
	width: 960px;
	height: 100%;

}
.ff3_foto{
	width: 400px;
	height: 100px;
	background: ;
	display: flex;
	justify-content: space-between;
}

